@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
	--dark-grayish-blue: hsl(217, 19%, 35%);
	--dark-blue: hsl(214, 17%, 51%);
	--grayish-blue: hsl(212, 23%, 69%);
	--light-grayish-blue: hsl(210, 46%, 95%);
	font-family: 'Manrope', sans-serif;
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes fadeInUp {
	0% {opacity: 0; transform: translateY(2rem);}
	100% {opacity: 1; transform: translateY(0rem);}
}

@media screen and (max-width: 2560px) and (min-width: 800px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		background-color: var(--light-grayish-blue);
	}

	main {
		width: 78rem;
		border-radius: 1rem;
		background-color: white;
		box-shadow: 1rem 2rem 3rem hsla(217, 19%, 35%, 0.1);
		display: grid;
		grid-template-columns: .65fr 1fr;
		grid-template-rows: 1fr .3fr;
		grid-template-areas: 
		"image article"
		"image credits";
	}

	.img-containter {
		background-image: url(images/drawers.jpg);
		background-size: cover;
		border-radius: 1rem 0 0 1rem;
		grid-area: image;
	}

	.article-container {
		padding: 3rem;
		padding-left: 4rem;
		padding-bottom: 0;
		grid-area: article;
	}

	.article-container h1 {
		color: var(--dark-grayish-blue);
		font-weight: 700;
		font-size: 2em;
		padding-right: 4rem;
	}

	.article-container p {
		color: var(--dark-grayish-blue);
		line-height: 1.5;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-right: 1.4rem;
		font-size: 1.4rem;
		font-weight: 500;
		opacity: 0.9;
	}

	.credits-container {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		padding-top: 2rem;
		padding-bottom: 4rem;
		padding-left: 2rem;
		padding-right: 3rem;
		grid-area: credits;
	}

	.avatar {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.avatar img {
		width: 50%;
		border-radius: 50%;
	}

	.credits {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}

	.credits h2 {
		font-weight: 700;
		color: var(--dark-grayish-blue);
	}

	.credits p {
		font-weight: 500;
		letter-spacing: .1rem;
		color: var(--grayish-blue);
		font-size: 1.2rem;
	}

	.share {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.share-option {
		background-color: var(--dark-grayish-blue);
		position: absolute;
		width: 27rem;
		height: 6rem;
		top: -8rem;
		border-radius: 1rem;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 1fr;
		padding: 1rem;
		opacity: 0;
		visibility: hidden;
	}

	.show-share-options {
		visibility: visible;
		animation-fill-mode: forwards;
		animation-name: fadeInUp;
		animation-timing-function: ease;
		animation-duration: .5s;
	}

	.triangle-down {
		position: absolute;
		width: 0;
		height: 0;
		left: 45%;
		top: 100%;
		border-left: 1.5rem solid transparent;
		border-right: 1.5rem solid transparent;
		border-top: 1.5rem solid var(--dark-grayish-blue);
	}

	.facebook-image,
	.twitter-image,
	.pinterest-image {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 1rem;
		width: 80%;
		transition: 0.2s ease;
	}

	.facebook-image:hover,
	.twitter-image:hover,
	.pinterest-image:hover {
		background-color: var(--grayish-blue);
		
	}

	.share-option span {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;
		letter-spacing: .5rem;
		text-transform: uppercase;
		font-weight: 700;
		color: var(--grayish-blue);
	}


	.share-img-layer {
		position: relative;
		width: 3.5rem;
		height: 3.5rem;
		background-color: var(--light-grayish-blue);
		border-radius: 50%;
		cursor: pointer;
	}

	.share-icon {
		z-index: 1;
		right: 40%;
		position: absolute;
		cursor: pointer;
	}
}

/* Mobile Viewport */ /*did this first on max width then copy to mobile and change approach*/
@media screen and (max-width: 800px) and (min-width: 300px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		background-color: var(--light-grayish-blue);
	}

	main {
		width: 33rem;
		border-radius: 1rem;
		background-color: white;
		display: grid;
		grid-template-rows: 1fr 1fr .3fr;
		box-shadow: 1rem 2rem 3rem hsla(217, 19%, 35%, 0.1);
	}

	.img-containter {
		background-image: url(images/drawers.jpg);
		background-size: cover;
		border-radius: 1rem 1rem 0 0;
	}

	.article-container {
		padding: 3rem;
	}

	.article-container h1 {
		color: var(--dark-grayish-blue);
		font-weight: 700;
		font-size: 1.7em;
	}

	.article-container p {
		color: var(--dark-grayish-blue);
		line-height: 1.5;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-right: 1.4rem;
		font-size: 1.3rem;
		font-weight: 500;
		opacity: 0.9;
	}

	.credits-container {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		padding-left: 2rem;
		padding-right: 3rem;
	}

	.avatar {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.avatar img {
		width: 70%;
		border-radius: 50%;
	}

	.credits {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		padding-left: 1rem;
	}

	.credits h2 {
		font-weight: 700;
		color: var(--dark-grayish-blue);
	}

	.credits p {
		font-weight: 500;
		letter-spacing: .1rem;
		color: var(--grayish-blue);
		font-size: 1.2rem;
	}

	.share {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.share-img-layer {
		position: relative;
		width: 3.5rem;
		height: 3.5rem;
		background-color: var(--light-grayish-blue);
		border-radius: 50%;
	}

	.share-icon {
		z-index: 1;
		right: 35%;
		position: absolute;
	}

	.share-option {
		display: none;
	}

	.share-option {
		background-color: var(--dark-grayish-blue);
		position: absolute;
		width: 20rem;
		height: 4rem;
		top: -4.5rem;
		right: -1rem;
		border-radius: 1rem;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 1fr;
		padding: 1rem;
		opacity: 0;
		visibility: hidden;
	}
	
	.show-share-options {
		visibility: visible;
		animation-fill-mode: forwards;
		animation-name: fadeInUp;
		animation-timing-function: ease;
		animation-duration: .5s;
	}

	.triangle-down {
		position: absolute;
		width: 0;
		height: 0;
		right: 10%;
		top: 100%;
		border-left: 1.5rem solid transparent;
		border-right: 1.5rem solid transparent;
		border-top: 1.5rem solid var(--dark-grayish-blue);
	}

	.facebook-image,
	.twitter-image,
	.pinterest-image {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 1rem;
		width: 80%;
		transition: 0.2s ease;
	}

	.facebook-image:hover,
	.twitter-image:hover,
	.pinterest-image:hover {
		background-color: var(--grayish-blue);
		
	}

	.share-option span {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		letter-spacing: .5rem;
		text-transform: uppercase;
		font-weight: 700;
		color: var(--grayish-blue);
	} 
}